body {
  margin: 0;
  height: 100%;
}

.App {
  text-align: center;
}

.ContentWrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.Footer,
.buffer {
  height: 50px;
}

.NavLink {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  width: 10vw;
}

.Photo {
  float: right;
}
div.ContentWrapper {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;

}